*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.navbar{
    width: 100%;
    margin: auto;
    padding: 35px 0;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: aliceblue;
    background-size: cover;
}
.logo{
    width: 150px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #69443c;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height :3px;
    width: 0px;
    background: #beb4aa;
    position: absolute;
    left: 0;
    bottom: 0;
}
.navbar ul li:hover::after{
    width: 100%;
}
.navButton button{
    width: 100px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #beb4aa;
    background-color: #beb4aa;
    color: #69443c;
    cursor: pointer;
    position: relative; 
    overflow: hidden;   
}

.search-container h2 {
    background-color: #f0e5da;
    padding: 50px; 
    color: #69443c;
    margin-bottom: 30px;
    margin-top: -50px;
}
.search-container {
    text-align: center;
    margin-top: 50px;
}

.input-group {
    display: inline-block;
}

.search-label {
    display: inline-block;
    margin-right: 10px;
}

.search-input {
    padding: 8px;
    width: 500px;
}

.submit-button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #beb4aa;
    background-color: #beb4aa;
    color: #69443c;
    cursor: pointer;
    position: relative; 
    overflow: hidden;   
}

form {
    display: inline-block;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 60%;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="submit"] {
    padding: 8px;
    margin-right: 10px;
}

.results-container {
    width: 60%;
    margin: auto;
    border: 0.5px solid #e5e5e5;
    border-radius: 15px;
    padding: 20px;
    margin-top: 50px;
    background-color: #fcfcfc;
}

.result-item {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 0px;
    border: 0.5px solid #e5e5e5;
}

.result-item a {
    color: #08bcd4;
    text-decoration: none; 
    font-weight: bold; 
    font-size: larger;
}

.result-item a:hover {
    text-decoration: underline; 
}

.result-item a1 {
    font-size: large;
}


.no-results {
    color: red;
    font-style: italic;
}
