*{
    margin:0;
    padding:0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar{
    width: 80%;
    margin: auto;
    padding: 35px 0;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background: #000; 
    background-size: cover;
    border-bottom: 0.5px solid #fff;

}

body{
    background: radial-gradient(ellipse closest-side at 50% 50%, #444, black);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.logo{
    width: 150px;
    cursor: pointer;
}
.admin-container {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    display: flex; 
    flex-direction: column;  
    align-items: center; 
}

.admin-container h1, p {
    color: #fff;
}

.admin-container a {
    color: #fff;
    text-decoration: none;
}

.admin-container ul {
    list-style: none;
    padding: 0;
}

.admin-container li {
    background-color: #5204ab;
    padding: 10px 15px;
    color: #000;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 200px;
    border-radius: 25px;
}

.admin-container li:hover {
    background-color: #6c2287;
}
